<html>
    <%include partials/header%>
    <body class="landing_body">
        <h1 id="landing_header">Node Connect</h1>
        <div id="sign_up_div">
            <form id="sign_up_form">
                <h2>Sign Up&nbsp</h2>
                <input type="text" id="name" name="name" placeholder="Name">
                <input type="text" id="email" name="email" placeholder="Email Address">
                <input type="text" id="password" name="password" placeholder="password">
                <input id="register_user" type="button" value="Register">
            </form>
            </div>
            <div id="sign_in_div">
            <form id="sign_up_form">
                <h2>Sign In</h2>
                <input type="text" id="usr_email" name="email" placeholder="Email Address">
                <input type="text" id="usr_password" name="password" placeholder="Password">
                <input id="sign_in_user" type="button" value="Sign In">
            </form>
        </div>
    </body>
</html>