<html>
    <%include partials/header%>
    <body class="landing_body">
        <h1 id="landing_header">Node Connect</h1>
        <div id="sign_up_div">
            <form id="sign_up_form">
                <h2>Sign Up&nbsp</h2>
                <input type="text" id="name" name="name" placeholder="Name">
                <input type="text" id="email" name="email" placeholder="Email Address">
                <input type="password" id="password" name="password" placeholder="password">
                <input id="register_user" type="button" value="Register">
            </form>
            </div>
            <div id="sign_in_div">
            <form id="sign_in_form">
                <h2>Sign In</h2>
                <input type="text" id="usr_email" name="email" placeholder="Email Address">
                <input type="text" id="usr_password" name="password" placeholder="Password">
                <input id="sign_in_user" type="button" value="Sign In">
            </form>
        </div>
    </body>
    <script>
        $("#register_user").on("click", function(){
            $.ajax({
                method: "POST",
                url: "/sign_up",
                data: $("#sign_up_form").serialize(),
                success: function(){
                    location.href = "http://localhost:3000/home";
                },
                error: function(err){
                    $("#name,#email,#password").val("");
                }
            });
        })

        $("#sign_in_user").on("click",function(){
            $.ajax({
                url: "/login",
                method: "POST",
                data: $("#sign_in_form").serialize(),
                success: function(){
                    location.href = "http://localhost:3000/home";
                },
                error: function(err){
                    $("#usr_email,#usr_pwd").val("");
                }
            })
        });
        
    </script>
</html>